body
  background: #fff

li
  list-style-type: none

.movie-list
  > li
    position: relative

.actor-list
  margin-left: 20%
  position: absolute
  top: 0
  li
    display: table-cell
    width: 154px
    margin: 0px 4px

.on
  transition: all 1s linear
  opacity: 1

.off
  transition: all 1s linear
  opacity: 0